.card-01{

    -fx-background-color: rgba(0, 162,211,0.5);
}
.round-box{
    -fx-background-radius:100%;
    -fx-border-radius:100%;
    -fx-border-width:5px;
}
.context-menu {
    -fx-font-family: TRON;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.context-menu2 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.context-menu3 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
}
.context-menu4 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.context-menu5 {
    -fx-font-family: TRON;
    -fx-text-fill:  #0984e3;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}