.card-01{

    -fx-background-color: rgba(0, 162,211,0.5);
}
.round-box{
    -fx-background-radius:100%;
    -fx-border-radius:100%;
    -fx-border-width:5px;
}
.context-menu {
    -fx-font-family: TRON;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.context-menu2 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}
.context-menu3 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 8px;
    -fx-font-weight: bold;
}
.context-menu4 {
    -fx-font-family: TRON;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.context-menu5 {
    -fx-font-family: TRON;
    -fx-text-fill:  #0984e3;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.context-menu6 {
    -fx-font-family: TRON;
    -fx-text-fill:  #0984e3;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-accent: #4cd137;
}
.context-menu7 {
    -fx-font-family: TRON;
    -fx-text-fill:  #0984e3;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-accent: #fbc531;
}

.context-menu8 {
    -fx-font-family: TRON;
    -fx-text-fill:  #0984e3;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

.context-menu8 {
    -fx-font-family: TRON;
    -fx-text-fill:  white;
    -fx-background-color: transparent;
    -fx-font-size: 10px;
    -fx-font-weight: bold;

}

.chart-bar {
    -fx-bar-fill: #22bad9;
    -fx-background-color: linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,-30%))
        (100%, derive(-fx-bar-fill,-40%)),
        linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,80%))
        (100%, derive(-fx-bar-fill, 0%)),
        linear (0%,0%) to (0%,100%)
        stops (0%, derive(-fx-bar-fill,30%))
        (100%, derive(-fx-bar-fill,-10%));
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
}

